extends main 
block premain
	.search-request
		span Ваш запрос: 
prepend content
	+photo('../../img/picture2-min.jpg','../../img/picture3.jpg', '../../img/userpic3.jpg', 'Иван Иванов', '567')
	+photo('../../img/picture3-min.jpg','../../img/picture3.jpg', '../../img/userpic.png', 'Иван Иванов', '300')
	+photo('../../img/picture5-min.jpg','../../img/picture5.jpg', '../../img/userpic2.jpg', 'Иван Иванов', '267')
	+photo('../../img/picture5-min.jpg','../../img/picture5.jpg', '../../img/userpic.png', 'Иван Иванов', '100')
	+photo('../../img/picture2-min.jpg','../../img/picture2.jpg', '../../img/userpic2.jpg', 'Иван Иванов', '200')
	+photo('../../img/picture6-min.jpg','../../img/picture6.jpg', '../../img/userpic.png', 'Иван Иванов', '333')
	+photo('../../img/picture4-min.jpg','../../img/picture4.jpg', '../../img/userpic.png', 'Иван Иванов', '134')
